{% extends 'base.html' %}

<h1>{% block title %} Details {% endblock %}</h1>
{% block content %}
    <br>
    <h1> Welcome to defund by location dApp </h1>

    <br>
    <h4>Employee Details</h4>
    <div id="manage_employees" class="shadow-lg p-3 bg-white rounded form-group mb-4 text-dark">
        <h5>Total employees</h5>
          <div class="container">
            <div class="row">
              <label class="form-label" id="number_of_employees"></label>
            </div>
            <div class="row form-group">
              <button id="get_number_of_employee" class="btn btn-primary" onclick="getNumberOfEmployees()">Get Total Employee</button>
            </div>
          </div>
    </div>
      
    <br>
    <div id="employee_details" class="shadow-lg p-3 bg-white rounded form-group mb-4 text-dark">
      <h5>Employee Details</h5>
      <div class="container">
        <div class="row form-group">
          <div id="employye_details" style="overflow:hidden; overflow-y: scroll; overflow-x: scroll; height: 500px;">
            <table id="employee_details_table" >
              <thead class="thead-light">
                <tr>
                  <th> Id </th>
                  <th> Name </th>
                  <th> Employee Address </th>
                  <th> Duration </th>
                  <th> Start Date </th>
                  <th> Role </th>
                  <th> Contract status </th>
                  <th> Balance </th>
                  <th> Latitude </th>
                  <th> Latitude offset</th>
                  <th> Longitude </th>
                  <th> Longitude offset</th>
                  <th> Accepted Range </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="row">
          <button id="get_employee_details" class="btn btn-primary" onclick="getEmployeeDetails()">Get Employee Details</button>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"  crossorigin="anonymous"></script>
    <script>
        //contract related setups
        const networkId = "http://127.0.0.1:8545"
        console.log("Current network Id: " + networkId)

        const contractAddress = "0x17CaBD90dbA1cB3Aa4709C976e94482cb1C4Ba2C"
        
        const abi = [
    {
      "inputs": [],
      "stateMutability": "nonpayable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        }
      ],
      "name": "EmployeeAdded",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "date",
          "type": "uint256"
        }
      ],
      "name": "LocationTracked",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "address",
          "name": "_from",
          "type": "address"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "_to",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "Transfer",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "compDetailUpdateStatus",
      "outputs": [
        {
          "internalType": "string",
          "name": "",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "employees",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "contractStartDate",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "enum Refund.ContractStatus",
          "name": "contractStatus",
          "type": "uint8"
        },
        {
          "internalType": "uint256",
          "name": "balanceInWei",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "employeesAddress",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "name": "employeez",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "contractStartDate",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "enum Refund.ContractStatus",
          "name": "contractStatus",
          "type": "uint8"
        },
        {
          "internalType": "uint256",
          "name": "balanceInWei",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "employer",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employer_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "company",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "locations",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "locationUpdateDate",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "numberOfEmployeesCount",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "numberOfTrackedLocations",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "companyName",
          "type": "string"
        }
      ],
      "name": "editCompanyDetails",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "int256",
          "name": "latitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latitudeOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "longitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "longOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "name": "createEmployee",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [
        {
          "internalType": "int256",
          "name": "latitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latitudeOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "longitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "longOffset",
          "type": "uint256"
        }
      ],
      "name": "trackLocation",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "balanceAddress",
          "type": "address"
        }
      ],
      "name": "getBalance",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getAllEmployeez",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address",
              "name": "employeeAddress",
              "type": "address"
            },
            {
              "internalType": "uint256",
              "name": "contractDuration",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "contractStartDate",
              "type": "uint256"
            },
            {
              "internalType": "string",
              "name": "employeeRole",
              "type": "string"
            },
            {
              "internalType": "enum Refund.ContractStatus",
              "name": "contractStatus",
              "type": "uint8"
            },
            {
              "internalType": "uint256",
              "name": "balanceInWei",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLat",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "latOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLon",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "lonOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "acceptedRange",
              "type": "int256"
            }
          ],
          "internalType": "struct Refund.Employee[]",
          "name": "",
          "type": "tuple[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getAllEmployees",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address",
              "name": "employeeAddress",
              "type": "address"
            },
            {
              "internalType": "uint256",
              "name": "contractDuration",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "contractStartDate",
              "type": "uint256"
            },
            {
              "internalType": "string",
              "name": "employeeRole",
              "type": "string"
            },
            {
              "internalType": "enum Refund.ContractStatus",
              "name": "contractStatus",
              "type": "uint8"
            },
            {
              "internalType": "uint256",
              "name": "balanceInWei",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLat",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "latOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLon",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "lonOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "acceptedRange",
              "type": "int256"
            }
          ],
          "internalType": "struct Refund.Employee[]",
          "name": "",
          "type": "tuple[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address payable",
          "name": "to",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "amount",
          "type": "uint256"
        }
      ],
      "name": "makeTransaction",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    }
  ]
        
        const web3 = new Web3(networkId)
        const smartContract = new web3.eth.Contract(abi, contractAddress)

        // the get total number of employees button event handler
        async function getNumberOfEmployees() {
          console.log("in get total number of employees event handler");
          try {
            const tot_num = await smartContract.methods.numberOfEmployeesCount().call();
            const tot_emp_num_label = document.getElementById('number_of_employees');
            tot_emp_num_label.innerHTML = tot_num;

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }

        // the get employee details button event handler
        async function getEmployeeDetails() {
          console.log("in get employee details event handler")
          try {
            const tot_emp_num = await smartContract.methods.numberOfEmployeesCount().call();
            for (let i = 0; i < tot_emp_num; i++) {
              // get the addresses of employees
              const cur_emp_addr = await smartContract.methods.employeesAddress(i).call();
              console.log(i, cur_emp_addr);
              
              // const individual_employee = await smartContract.methods.employees(i).call();
              const individual_employee = await smartContract.methods.employeez(cur_emp_addr).call();
              
              var table = document.getElementById("employee_details_table");
              var rowNode = document.createElement("tr");
              var cellNodeCId = document.createElement("td");
              var cellNodeCName = document.createElement("td");
              var cellNodeCAddress = document.createElement("td");
              var cellNodeCDur = document.createElement("td");
              var cellNodeCSD = document.createElement("td");
              var cellNodeCRole = document.createElement("td");
              var cellNodeCStatus = document.createElement("td");
              var cellNodeCBal = document.createElement("td");
              var cellNodeCLat = document.createElement("td");
              var cellNodeCLatOff = document.createElement("td");
              var cellNodeCLon = document.createElement("td");
              var cellNodeCLonOff = document.createElement("td");
              var cellNodeCRange = document.createElement("td");
              
              var rowId = document.createTextNode(i);
              var rowName = document.createTextNode(individual_employee.name);
              var rowAddress = document.createTextNode(individual_employee.employeeAddress);
              var rowContractDuration = document.createTextNode(individual_employee.contractDuration);
              var rowContractStartDate = document.createTextNode(individual_employee.contractStartDate);
              var rowEmployeeRole = document.createTextNode(individual_employee.employeeRole);
              var rowContractStatus = document.createTextNode(individual_employee.contractStatus);
              var rowContractBalance = document.createTextNode(individual_employee.balanceInWei);
              var rowContractLat = document.createTextNode(individual_employee.locLat);
              var rowContractLatOff = document.createTextNode(individual_employee.latOffset);
              var rowContractLon = document.createTextNode(individual_employee.locLon);
              var rowContractLonOff = document.createTextNode(individual_employee.lonOffset);
              var rowContractRange = document.createTextNode(individual_employee.acceptedRange);

              cellNodeCId.appendChild(rowId);
              cellNodeCName.appendChild(rowName);
              cellNodeCAddress.appendChild(rowAddress);
              cellNodeCDur.appendChild(rowContractDuration);
              cellNodeCSD.appendChild(rowContractStartDate);
              cellNodeCRole.appendChild(rowEmployeeRole);
              cellNodeCStatus.appendChild(rowContractStatus);
              cellNodeCBal.appendChild(rowContractBalance);
              cellNodeCLat.appendChild(rowContractLat);
              cellNodeCLatOff.appendChild(rowContractLatOff);
              cellNodeCLon.appendChild(rowContractLon);
              cellNodeCLonOff.appendChild(rowContractLonOff);
              cellNodeCRange.appendChild(rowContractRange);

              rowNode.appendChild(cellNodeCId);
              rowNode.appendChild(cellNodeCName);
              rowNode.appendChild(cellNodeCAddress);
              rowNode.appendChild(cellNodeCDur);
              rowNode.appendChild(cellNodeCSD);
              rowNode.appendChild(cellNodeCRole);
              rowNode.appendChild(cellNodeCStatus);
              rowNode.appendChild(cellNodeCBal);
              rowNode.appendChild(cellNodeCLat);
              rowNode.appendChild(cellNodeCLatOff);
              rowNode.appendChild(cellNodeCLon);
              rowNode.appendChild(cellNodeCLonOff);
              rowNode.appendChild(cellNodeCRange);

              table.appendChild(rowNode);
            }
            // table.setAttribute('class', "table table-striped table-hover table-earning");
            // table.className = "table table-striped table-hover table-earning";
            table.className = "table table-striped table-hover table-earning";
            table.classList.add("table")
            table.classList.add("table-striped")
            table.classList.add("table-hover")
            table.classList.add("table-earning")

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }
    </script>
{% endblock %}