{% extends 'base.html' %}

<h1>{% block title %} Employee {% endblock %}</h1>
{% block content %}
    <br>
    <h1> Welcome to defund by location dApp </h1>

    <br>
    <h4>Wallet Connection</h4>
    <div id="connect" class="shadow-lg p-3 bg-white rounded form-group mb-4 text-dark">
        <div class="container">
            <div class="row form-label">
                <label>Status: </label>
                <label id="connection_status">Not connected</label>
            </div>
            <div class="row form-label">
                <label>Address: </label>
                <label id="connection_address">No address provided</label>
            </div>

            <div class="row">
                <button id="connectButton" class="btn btn-primary" onclick="connectButtonClick()">Connect</button>
            </div>
        </div>
    </div>

    <br>
    <h4>Location Update</h4>
    <div id="location_update" class="shadow-lg p-3 bg-white rounded form-group mb-4 text-dark">
        <div class="container">
            <div class="row form-label">
                <label>Latitude: </label>
                <input class="form-control" placeholder="38.258415415" id="latitude"></input>
            </div>
            <div class="row form-label">
                <label>Longitude: </label>
                <input class="form-control" placeholder="42.878484878" id="longitude"></input>
            </div>
            <br>
            <div class="row">
                <button id="genRandLoc" class="btn btn-primary" onclick="generateRandomLocation()">Generate location</button>
            </div>

            <br>
            <div class="row">
                <button id="updateLocationButton" class="btn btn-primary" onclick="updateLocation()">Update</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"  crossorigin="anonymous"></script>
    <script>
        //contract related setups
        const networkId = "http://127.0.0.1:8545"
        console.log("Current network Id: " + networkId)

        const contractAddress = "0x8dB1c9689b3c05E0264781B42c93953FCe43F658"
        
        const abi =  [
    {
      "inputs": [],
      "stateMutability": "payable",
      "type": "constructor",
      "payable": true
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        }
      ],
      "name": "EmployeeAdded",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "address",
          "name": "_fromAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "_to",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "EscrowMade",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "date",
          "type": "uint256"
        }
      ],
      "name": "LocationTracked",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "address",
          "name": "add",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "amount",
          "type": "uint256"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "gas",
          "type": "uint256"
        }
      ],
      "name": "Received",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "address",
          "name": "_fromAddress",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "_to",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "TransferMade",
      "type": "event"
    },
    {
      "inputs": [],
      "name": "compDetailUpdateStatus",
      "outputs": [
        {
          "internalType": "string",
          "name": "",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "employees",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address payable",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "contractStartDate",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "enum Refund.ContractStatus",
          "name": "contractStatus",
          "type": "uint8"
        },
        {
          "internalType": "uint256",
          "name": "balanceInWei",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "employeesAddress",
      "outputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "",
          "type": "address"
        }
      ],
      "name": "employeez",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address payable",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "contractStartDate",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "enum Refund.ContractStatus",
          "name": "contractStatus",
          "type": "uint8"
        },
        {
          "internalType": "uint256",
          "name": "balanceInWei",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "employer",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employer_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "company",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "locations",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "int256",
          "name": "locLat",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "locLon",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "locationUpdateDate",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "numberOfEmployeesCount",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "numberOfTrackedLocations",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "stateMutability": "payable",
      "type": "receive",
      "payable": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address payable",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "companyName",
          "type": "string"
        }
      ],
      "name": "editCompanyDetails",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address payable",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "int256",
          "name": "latitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latitudeOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "longitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "longOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "acceptedRange",
          "type": "int256"
        }
      ],
      "name": "createEmployee",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "int256",
          "name": "latitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "latitudeOffset",
          "type": "uint256"
        },
        {
          "internalType": "int256",
          "name": "longitude",
          "type": "int256"
        },
        {
          "internalType": "uint256",
          "name": "longOffset",
          "type": "uint256"
        }
      ],
      "name": "trackLocation",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "balanceAddress",
          "type": "address"
        }
      ],
      "name": "getBalance",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getAllEmployeez",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address payable",
              "name": "employeeAddress",
              "type": "address"
            },
            {
              "internalType": "uint256",
              "name": "contractDuration",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "contractStartDate",
              "type": "uint256"
            },
            {
              "internalType": "string",
              "name": "employeeRole",
              "type": "string"
            },
            {
              "internalType": "enum Refund.ContractStatus",
              "name": "contractStatus",
              "type": "uint8"
            },
            {
              "internalType": "uint256",
              "name": "balanceInWei",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLat",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "latOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLon",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "lonOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "acceptedRange",
              "type": "int256"
            }
          ],
          "internalType": "struct Refund.Employee[]",
          "name": "",
          "type": "tuple[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getAllEmployees",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address payable",
              "name": "employeeAddress",
              "type": "address"
            },
            {
              "internalType": "uint256",
              "name": "contractDuration",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "contractStartDate",
              "type": "uint256"
            },
            {
              "internalType": "string",
              "name": "employeeRole",
              "type": "string"
            },
            {
              "internalType": "enum Refund.ContractStatus",
              "name": "contractStatus",
              "type": "uint8"
            },
            {
              "internalType": "uint256",
              "name": "balanceInWei",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLat",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "latOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "locLon",
              "type": "int256"
            },
            {
              "internalType": "uint256",
              "name": "lonOffset",
              "type": "uint256"
            },
            {
              "internalType": "int256",
              "name": "acceptedRange",
              "type": "int256"
            }
          ],
          "internalType": "struct Refund.Employee[]",
          "name": "",
          "type": "tuple[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "address payable",
          "name": "to",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "amount",
          "type": "uint256"
        }
      ],
      "name": "payEmployeeOrEmployer",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [],
      "name": "escrow",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    }
  ]
        
        const web3 = new Web3(networkId)
        const smartContract = new web3.eth.Contract(abi, contractAddress)
        
        let accounts
        const gasFee = 3000000;

        // to connect with metamask
        const onClickConnect = async () => {
            try {
            const newAccounts = await ethereum.request({
                method: 'eth_requestAccounts',
            })
            await handleNewAccounts(newAccounts)

            } catch (error) {
                console.error(error);
                alert(error);
            }
        }

        // the one that populates the accounts
        async function handleNewAccounts(newAccounts) {
            const accountsAddress = document.getElementById('connection_address')
            const walletConnection = document.getElementById('connection_status')

            accounts = newAccounts
            accountsAddress.innerHTML = accounts
            walletConnection.innerHTML = "Connected"
            console.log("In handle new accounts")
            console.log(accounts[0])
        }

        // the connect button click event handler
        async function connectButtonClick() {
            await onClickConnect()
        }
    
        // generate random latitude and longitude
        async function generateRandomLocation() {
            console.log('in generate random numbers event handler')
            try {
                let lat = Math.random() * 90.0;
                let lon = Math.random() * 180.0;
                console.log(lat, lon);

                const lat_input = document.getElementById("latitude");
                lat_input.innerHTML = lat;
                const lon_input = document.getElementById("longitude");
                lon_input.innerHTML = lon;
            } catch (error) {
                console.error(error);
                alert(error);
            }
        }

        // offset counter
        function countDecimals (location) {
          if (Math.floor(location.valueOf()) === location.valueOf()) return 0;

          var str = location.toString();
          if (str.indexOf(".") !== -1 && str.indexOf("-") !== -1) {
              return str.split("-")[1] || 0;
          } else if (str.indexOf(".") !== -1) {
              return str.split(".")[1].length || 0;
          }
          return str.split("-")[1] || 0; 
        }

        // trailing zeros
        function addTrailingZeros(num, totalLength) {
          return String(num).padEnd(totalLength, '0');
        }

        // update location event handler
        async function updateLocation() {
            console.log('in update location event handler')
            try {
              const lat = document.getElementById('latitude').value;
              const lon = document.getElementById('longitude').value;

              const latOff = countDecimals(+lat);
              const lonOff = countDecimals(+lon);

              const full_lat = +lat * addTrailingZeros(1, latOff+1);
              const full_lon = +lon * addTrailingZeros(1, lonOff+1);
              console.log(full_lat, +lat, latOff, full_lon, +lon, lonOff);
              console.log(typeof(full_lat), typeof(+lat), typeof(latOff), typeof(full_lon), typeof(+lon), typeof(lonOff));

              const locationz = await smartContract.methods.trackLocation(full_lat, latOff, full_lon, lonOff).send({ from: accounts[0], gas: gasFee });
              console.log(locationz);
              alert('location updated')

            } catch (error) {
                console.error(error);
                alert(error);
            }
        }
    </script>
{% endblock %}