{% extends 'base.html' %}

<h1> {% block title %} Employer {% endblock %} </h1>
{% block content %}
    <br>
    <h1> Welcome to the de fund by location dApp </h1>

    <br>
    <h4>Wallet Connection</h4>
    <div id="connect" class="rounded border border-info form-group p-3 mb-2 text-dark">
        <div class="container">
            <div class="row form-label">
                <label>Status: </label>
                <label id="connection_status">Not connected</label>
            </div>
            <div class="row form-label">
                <label>Address: </label>
                <label id="connection_address">No address provided</label>
            </div>

            <div class="row">
                <button id="connectButton" class="btn btn-primary" onclick="connectButtonClick()">Connect</button>
            </div>
        </div>
    </div>

    <br>
    <h4>Company</h4>
    <div id="company_details" class="rounded border border-info form-group p-3 mb-2 text-dark">
      <div class="row">
        <div class="col-md">
          <h4>Company Details</h4>
          <div id="company_details" class="rounded border border-info form-group p-3 mb-2 text-dark">
              <div class="container">
                  <div class="row form-label">
                      <label>Employee Name: </label>
                  </div>
                  <div class="row form-label">
                    <label id="employer_name"></label> 
                  </div>

                  <div class="row form-label">
                    <label>Employee Address: </label>
                  </div>
                  <div class="row form-label">
                    <label id="employer_address"></label> 
                  </div>

                  <div class="row form-label">
                      <label>Company Name: </label>
                  </div>
                  <div class="row form-label">
                    <label id="company_name"></label> 
                  </div>
                  
                  <div class="row">
                      <button id="get_company_details" class="btn btn-primary" onclick="getCompanyDetails()">Details</button>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-md">
          <h4>Edit company Details</h4>
          <div id="edit_company_details" class="rounded border border-info form-group p-3 mb-2 text-dark">
            <div class="container">
              <div class="row form-label">
                <label>Employee Name: </label>
                <input class="form-control" id="edit_employer_name"></input> 
              </div>
              <div class="row form-label">
                <label>Employee Address: </label>
                <input class="form-control" id="edit_employer_address"></input> 
              </div>
              <div class="row form-label">
                <label>Company Name: </label>
                <input class="form-control" id="edit_company_name"></input> 
              </div>

              <br>
              <div class="row">
                <button id="edit_company_details" class="btn btn-primary" onclick="editCompanyDetails()">Edit Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <h4>Add Employee</h4>
    <div id="add_employees" class="rounded border border-info form-group p-3 mb-2 text-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row form-group">
                <label class="form-label">Employee Name</label>
                <input type="text" style="margin-right:0.5cm" class="form-control" id="employee_name" placeholder="input employee name"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Employee Address</label>
                <input type="text" style="margin-right:0.5cm" class="form-control" id="employee_address" placeholder="input employee address"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Contract Duration</label>
                <input type="number" style="margin-right:0.5cm"  class="form-control" id="contract_duration" placeholder="input contract duration"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Employee Role</label>
                <input type="text" style="margin-right:0.5cm"  class="form-control" id="employee_role" placeholder="input employee role"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Latitude</label>
                <input type="number" style="margin-right:0.5cm"  class="form-control" id="employee_lat" placeholder="input employee latitude"></input>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row form-group">
                <label class="form-label">Latitude Offset</label>
                <input type="number" class="form-control" id="employee_lat_offset" placeholder="input employee latitude offset"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Longitude</label>
                <input type="number" class="form-control" id="employee_lon" placeholder="input employee longitude"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Longitude Offset</label>
                <input type="number" class="form-control" id="employee_lon_offset" placeholder="input employee longitude offset"></input>
              </div>
              <div class="row form-group">
                <label class="form-label">Accepted Range</label>
                <input type="number" class="form-control" id="accepted_range" placeholder="input employee accepted range"></input>
              </div>
            </div>
          </div>
          <div class="row">
            <button id="add_employee" class="btn btn-primary" onclick="addEmployee()">Add Employee</button>
        </div>
        </div>
    </div>

    <br>
    <h4>Manage Employees</h4>
    <div id="manage_employees" class="rounded border border-info form-group p-3 mb-2 text-dark">
      <h5>Total employees</h5>
        <div class="container">
          <div class="row">
            <label class="form-label" id="number_of_employees"> 55</label>
          </div>
          <div class="row form-group">
            <button id="get_number_of_employee" class="btn btn-primary" onclick="getNumberOfEmployees()">Get Total Employee</button>
          </div>
        </div>
    </div>

    <div id="employee_details" class="rounded border border-info form-group p-3 mb-2 text-dark">
      <h5>Employee Details</h5>
      <div class="container">
        <div class="row form-group">
          <div id="employye_details">
            <table>
              <th>Employee Details</th>
              <tr>
                <td> d1 </td> <td> d2 </td> <td> d3 </td>
              </tr>
              <tr>
                <td> d1 </td> <td> d2 </td> <td> d3 </td>
              </tr>
              <tr>
                <td> d1 </td> <td> d2 </td> <td> d3 </td>
              </tr>
              <tr>
                <td> d1 </td> <td> d2 </td> <td> d3 </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <button id="get_employee_details" class="btn btn-primary" onclick="getEmployeeDetails()">Get Employee Details</button>
        </div>
      </div>
    </div>
    
    <div id="individual_employee_details" class="rounded border border-info form-group p-3 mb-2 text-dark">
      <h5>Individual Employee Detail</h5>
      <div class="container">
        <div class="row form-group">
          <label class="form-label">Employee Id</label>
          <input type="number" class="form-control" id="employee_id" placeholder="input employee id"></input>
        </div>
        <div class="row">
          <button id="get_individual_employee_details" class="btn btn-primary" onclick="getIndividualEmployeeDetails()">Get Individual Employee Detail</button>
        </div>

        <br>
        <br>
        <div id="individual_detail_holder" class="row">
          <div class="col-md-6">
            <div class="row form-group">
              <label class="form-label">Employee Name: </label>
              <label class="form-label" type="text" id="individual_employee_name"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee Address: </label>
              <label class="form-label" type="text" id="individual_employee_address"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Contract duration: </label>
              <label class="form-label" type="number" id="individual_contract_duration"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Contract start date: </label>
              <label class="form-label" type="number" id="individual_contract_start_date"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee role: </label>
              <label class="form-label" type="text" id="individual_employee_role"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Contract status: </label>
              <label class="form-label" type="number" id="individual_contract_status"></label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row form-group">
              <label class="form-label">Employee balance: </label>
              <label class="form-label" type="number" id="individual_employee_balance"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee location (latitude): </label>
              <label class="form-label" type="number" id="individual_employee_lat"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee location (latitude offset): </label>
              <label class="form-label" type="number" id="individual_employee_lat_offset"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee location (longitude): </label>
              <label class="form-label" type="number" id="individual_employee_lon"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Employee location (longitude offset): </label>
              <label class="form-label" type="number" id="individual_employee_lon_offset"></label>
            </div>
            <div class="row form-group">
              <label class="form-label">Accepted Range: </label>
              <label class="form-label" type="number" id="individual_employee_accepted_range"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <h4>Account balance</h4>
    <div id="account_balance_container" class="rounded border border-info form-group p-3 mb-2 text-dark">
      <div class="container">
        <div class="row form-group"">
          <label class="form-label">Account address</label>
          <input type="text" class="form-control" id="account_address" placeholder="input account address"></input>
        </div>
        <div class="row">
          <label class="form-label">Account balance: </label>
          <label type="number" class="form-label" id="account_balance"></input>
        </div>

        <div class="row">
          <button id="get_account_balance" class="btn btn-primary" onclick="getAccountBalance()">Get Balance</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"  crossorigin="anonymous"></script>
    <script>
        //contract related setups
        const networkId = "http://127.0.0.1:8545"
        console.log("Current network Id: " + networkId)

        const contractAddress = "0x5EE0F34384a5505b94f7B7A7e84E4C66F1647a4E"
        
        const abi = [
    {
      "inputs": [],
      "stateMutability": "nonpayable",
      "type": "constructor"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "indexed": false,
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        }
      ],
      "name": "NewEmployee",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": true,
          "internalType": "address",
          "name": "_from",
          "type": "address"
        },
        {
          "indexed": true,
          "internalType": "address",
          "name": "_to",
          "type": "address"
        },
        {
          "indexed": false,
          "internalType": "uint256",
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "Transfer",
      "type": "event"
    },
    {
      "inputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "employees",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "contractStartDate",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "enum Refund.ContractStatus",
          "name": "contractStatus",
          "type": "uint8"
        },
        {
          "internalType": "uint256",
          "name": "balanceInWei",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "locLat",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "latOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "locLon",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "lonOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "acceptedRange",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "employer",
      "outputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employer_address",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "company",
          "type": "string"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "justInt",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "numberOfEmployeesCount",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "employeeAddress",
          "type": "address"
        },
        {
          "internalType": "uint256",
          "name": "contractDuration",
          "type": "uint256"
        },
        {
          "internalType": "string",
          "name": "employeeRole",
          "type": "string"
        },
        {
          "internalType": "uint256",
          "name": "latitude",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "latitudeOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "longitude",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "longOffset",
          "type": "uint256"
        },
        {
          "internalType": "uint256",
          "name": "acceptedRange",
          "type": "uint256"
        }
      ],
      "name": "createEmployee",
      "outputs": [],
      "stateMutability": "payable",
      "type": "function",
      "payable": true
    },
    {
      "inputs": [
        {
          "internalType": "address",
          "name": "balanceAddress",
          "type": "address"
        }
      ],
      "name": "getBalance",
      "outputs": [
        {
          "internalType": "uint256",
          "name": "",
          "type": "uint256"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getAllEmployees",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address",
              "name": "employeeAddress",
              "type": "address"
            },
            {
              "internalType": "uint256",
              "name": "contractDuration",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "contractStartDate",
              "type": "uint256"
            },
            {
              "internalType": "string",
              "name": "employeeRole",
              "type": "string"
            },
            {
              "internalType": "enum Refund.ContractStatus",
              "name": "contractStatus",
              "type": "uint8"
            },
            {
              "internalType": "uint256",
              "name": "balanceInWei",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "locLat",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "latOffset",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "locLon",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "lonOffset",
              "type": "uint256"
            },
            {
              "internalType": "uint256",
              "name": "acceptedRange",
              "type": "uint256"
            }
          ],
          "internalType": "struct Refund.Employee[]",
          "name": "",
          "type": "tuple[]"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [],
      "name": "getEmployer",
      "outputs": [
        {
          "components": [
            {
              "internalType": "string",
              "name": "name",
              "type": "string"
            },
            {
              "internalType": "address",
              "name": "employer_address",
              "type": "address"
            },
            {
              "internalType": "string",
              "name": "company",
              "type": "string"
            }
          ],
          "internalType": "struct Refund.Employer",
          "name": "",
          "type": "tuple"
        }
      ],
      "stateMutability": "view",
      "type": "function",
      "constant": true
    },
    {
      "inputs": [
        {
          "internalType": "string",
          "name": "name",
          "type": "string"
        },
        {
          "internalType": "address",
          "name": "addr",
          "type": "address"
        },
        {
          "internalType": "string",
          "name": "companyName",
          "type": "string"
        }
      ],
      "name": "editCompanyDetails",
      "outputs": [],
      "stateMutability": "nonpayable",
      "type": "function"
    }
  ]

        const web3 = new Web3(networkId)
        const smartContract = new web3.eth.Contract(abi, contractAddress)
        
        let accounts

        // to connect with metamask
        const onClickConnect = async () => {
            try {
            const newAccounts = await ethereum.request({
                method: 'eth_requestAccounts',
            })
            await handleNewAccounts(newAccounts)

            } catch (error) {
                console.error(error);
                alert(error);
            }
        }

        // the one that populates the accounts
        async function handleNewAccounts (newAccounts) {
            const accountsAddress = document.getElementById('connection_address')
            const walletConnection = document.getElementById('connection_status')

            accounts = newAccounts
            accountsAddress.innerHTML = accounts
            walletConnection.innerHTML = "Connected"
            console.log("In handle new accounts")
            console.log(accounts[0])
        }

        // the connect button click event handler
        async function connectButtonClick() {
            await onClickConnect()
        }
        
        // the company details button event handler
        async function getCompanyDetails() {
            console.log("in get company details event handler")
            try {
                const empName = document.getElementById('employer_name')
                const compName = document.getElementById('company_name')
                const empAdd = document.getElementById('employer_address')

                const companyDetails = await smartContract.methods.employer().call();
                empName.innerHTML = companyDetails.name
                compName.innerHTML = companyDetails.company
                empAdd.innerHTML = companyDetails.employer_address

            } catch (error) {
                console.error(error)
                alert(error);
            }
        }

        // the edit company details button event handler
        async function editCompanyDetails() {
          console.log("in edit company details event handler")
          try {
              const empName = document.getElementById('employer_name')
              const compName = document.getElementById('company_name')
              const empAdd = document.getElementById('employer_address')

              const companyDetails = await smartContract.methods.employer().call();
              empName.innerHTML = companyDetails.name
              compName.innerHTML = companyDetails.company
              empAdd.innerHTML = companyDetails.employer_address

          } catch (error) {
              console.error(error)
              alert(error);
          }
        }

        // the add employee button event handler
        async function addEmployee() {
          console.log("in add employee event handler");
          try {
            const emp_name = document.getElementById('employee_name').value;
            const emp_address = document.getElementById('employee_address').value;
            const contract_dur = document.getElementById('contract_duration').value;
            const emp_role = document.getElementById('employee_role').value;
            const emp_lat = document.getElementById('employee_lat').value;
            const emp_lat_off = document.getElementById('employee_lat_offset').value;
            const emp_lon = document.getElementById('employee_lon').value;
            const emp_lon_off = document.getElementById('employee_lon_offset').value;
            const emp_range = document.getElementById('accepted_range').value;            
            console.log(emp_name, emp_address, contract_dur, emp_role, emp_lat, emp_lat_off, emp_lon, emp_lon_off, emp_range);
            console.log("From account: " + accounts[0])

            const addEmp = await smartContract.methods.createEmployee(emp_name, emp_address, contract_dur, emp_role, emp_lat, emp_lat_off, emp_lon, emp_lon_off, emp_range).send({ from: accounts[0], gas:3000000 });

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }

        // the get total number of employees button event handler
        async function getNumberOfEmployees () {
          console.log("in get total number of employees event handler");
          try {
            const tot_num = await smartContract.methods.numberOfEmployeesCount().call();
            const tot_emp_num_label = document.getElementById('number_of_employees');
            tot_emp_num_label.innerHTML = tot_num;

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }

        // get individual employee details event handler
        async function getIndividualEmployeeDetails() {
          console.log("in get individual employee details event handler");
          try {
            // get the desired id
            const the_employee_id = document.getElementById('employee_id').value;
            console.log(the_employee_id)
            // get the individual employee
            const individual_employee = await smartContract.methods.employees(the_employee_id).call();

            // set the individual employee details
            const ind_emp_name = document.getElementById('individual_employee_name');
            const ind_emp_addr = document.getElementById('individual_employee_address');
            const ind_emp_contract_dur = document.getElementById('individual_contract_duration');
            const ind_emp_start_date = document.getElementById('individual_contract_start_date');
            const ind_emp_role = document.getElementById('individual_employee_role');
            const ind_emp_contract_status = document.getElementById('individual_contract_status');
            const ind_emp_balance = document.getElementById('individual_employee_balance');
            const ind_emp_loc_lat = document.getElementById('individual_employee_lat');
            const ind_emp_loc_lat_offset = document.getElementById('individual_employee_lat_offset');
            const ind_emp_loc_lon = document.getElementById('individual_employee_lon');
            const ind_emp_loc_lon_offset = document.getElementById('individual_employee_lon_offset');
            const ind_emp_accepted_range = document.getElementById('individual_employee_accepted_range');
            console.log("got all labels")

            ind_emp_name.innerHTML = individual_employee.name
            ind_emp_addr.innerHTML = individual_employee.employeeAddress
            ind_emp_contract_dur.innerHTML = individual_employee.contractDuration
            ind_emp_start_date.innerHTML = individual_employee.contractStartDate
            ind_emp_role.innerHTML = individual_employee.employeeRole
            ind_emp_contract_status.innerHTML = individual_employee.contractStatus
            ind_emp_balance.innerHTML = individual_employee.balanceInWei
            ind_emp_loc_lat.innerHTML = individual_employee.locLat
            ind_emp_loc_lat_offset.innerHTML = individual_employee.latOffset
            ind_emp_loc_lon.innerHTML = individual_employee.locLon
            ind_emp_loc_lon_offset.innerHTML = individual_employee.lonOffset
            ind_emp_accepted_range.innerHTML = individual_employee.acceptedRange
            console.log("set all labels")

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }

        // get account balance event handler
        async function getAccountBalance() {
          console.log("in get account balance")
          try {
            // get the account address
            const acc_add = document.getElementById('account_address').value;

            // get the account balance
            const acc_bal = await smartContract.methods.getBalance(acc_add).call();

            // get the html label and update with the account address
            const bal_label = document.getElementById('account_balance')
            bal_label.innerHTML = acc_bal

          } catch (error) {
              console.error(error);
              alert(error);
          }
        }
    </script>
{% endblock %}
